<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
	</head>
	<body>
		<header th:replace="fragments/fragment :: navbar"></header>
		<br>
		<div class="container-fluid">
			<h2 style="text-align:center;">Sistem Informasi Kepegawaian</h2>
			<h6 style="text-align:center;">Selamat datang di Sistem Informasi Kepegawaian</h6>
			<hr><br>
			
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Data Pegawai berdasarkan NIP
						</div>
						<form th:action="@{/pegawai}" method="GET">
							<div class="card-body">
								<label for="nip">Masukan Nomor Induk Pegawai</label>
								<input type="text" name="nip" class="form-control" />
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Detail Jabatan
						</div>
						
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="card-body">
								<label for="id">Pilih Jabatan</label><br>
								<select class="form-control" id="id" name="id">
							        <option value="">Pilih Jabatan</option>
							        <option th:each="jabat : ${jabatan}"
							                th:value="${jabat.id}"
							                th:text="${jabat.nama}"></option>
							    </select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Pegawai Termuda dan Tertua
						</div>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<div class="card-body">
								<label for="id">Pilih Instansi</label><br>
								<select class="form-control" id="id" name="id">
								<option value="">Pilih Instansi</option>
							        <option th:each="instan : ${instansi}"
							                th:value="${instan.id}"
							                th:text="${instan.nama} + ' - ' + ${instan.provinsi.nama}"></option>
							    </select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<br>
		
	<footer th:replace="fragments/fragment :: footer-static"></footer>
	</body>
</html>