<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Pegawai</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<h2 style="text-align:center;">Update Pegawai</h2><hr>
		<form th:action="@{/pegawai/ubah}" th:object="${newPegawai}" method="POST">
		<input type="hidden" th:field="${newPegawai.nip}" th:value="*{nip}"/>
		<input type="hidden" th:field="${newPegawai.id}" th:value="*{id}"/>
			<div class="col-md-3">
			Nama : <br>
			<input type="text" name="nama" class="form-control"/>
   			Tempat Lahir : <br>
			<input type="text" name="tempatLahir" class="form-control"/>
   			Tanggal Lahir : <br>
			<input type="date" name="tanggalLahir" class="form-control"/>
   			Tahun Masuk : <br>
			<input type="text" name="tahunMasuk" class="form-control"/>
   			Provinsi : <br>
			<select class="form-control" name="provinsi" id="provinsi">
				<option disabled="disabled" selected="selected">Pilih Provinsi</option>
			        <option th:each="pro : ${listProvinsi}"
			                th:value="${pro.id}"
			                th:text="${pro.nama}">
			        </option>
			</select>

			Nama Instansi : <br> 
   			<select class="form-control" name="instansi" id="instansi">
				<option disabled="disabled" selected="selected">Pilih Instansi</option>
			        <option th:each="instan : ${listInstansi}"
			                th:value="${instan.id}"
			                th:text="${instan.nama}">
			        </option>
			</select>
  			Jabatan : <br>
			<div th:each="jabatanPegawai, statusJabatan : *{jabatanPegawaiList}" >
    			<select class="form-control" th:field="*{jabatanPegawaiList[__${statusJabatan.index}__].jabatan}">
					<option th:each="jabat: ${listJabatan}" th:value="${jabat.id}" th:text="${jabat.nama}"/>
				</select>
  			</div>
		
		<br><button type="submit" name="addRowUpdateJabatan" class="btn btn-primary">Tambah Jabatan</button>
		<br><br>
		<button type="submit" class="btn btn-success">Simpan</button>
		</div>
		
		
		</form>
		
	</div>
	
	<br>
	<footer th:replace="fragments/fragment :: footer-static"></footer>
	
</body>

<script type="text/javascript">
$(document).ready(function () {
    $("#provinsi").change(function () {
           $.getJSON("/instansi/tambah", {
               provinsiId : $(this).val(),
               ajax : 'true'
           }, function(data) {
               var html = '';
               var len = data.length;
               for ( var i = 0; i < len; i++) {
                   html += '<option value="' + data[i].id + '">'
                           + data[i].nama + '</option>';
               }
               html += '';
               $('#instansi').html(html);
           });
    });    
        
});
</script>
</html>