<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<br>
	<div class="container-fluid">
		<h3 th:text="'Lihat Data Pegawai - '+${pegawai.nip}"></h3>
		<br>
		<p th:text="'NIP : '+${pegawai.nip}"></p>
		<p th:text="'Nama : ' + ${pegawai.nama}"></p>
		<p th:text="'Tempat Lahir : '+${pegawai.tempatLahir}"></p>
		<p th:text="'Tanggal Lahir : ' + ${pegawai.tanggalLahir}"></p>
		<p th:text="'Tahun Masuk : '+${pegawai.tahunMasuk}"></p>
		<p th:text="'Nama Instansi : '+${pegawai.instansi.nama} + ' - ' + 
		${pegawai.instansi.provinsi.nama}"></p>
		<p th:text="'Jabatan : '"></p>	
		<ul th:each="jabatan : ${listJabatan}">
			<li th:text="${jabatan.jabatan.nama}"></li>
		</ul>
		<p th:text="'Gaji : Rp '+${gaji}"></p>
		<a class="btn btn-primary" th:href="@{'/pegawai/ubah/'+ ${pegawai.nip}}">Ubah Pegawai</a>
	</div>
	<footer th:replace="fragments/fragment :: footer-fixed"></footer>
	
</body>
</html>